<nav class="navbar">
    <div class="navbar-brand">

      <a routerLink="/">VoucherWorld</a>
    </div>
  
    <div class="navbar-links">
      <ng-container *ngIf="user; else guestLinks">
        <span class="welcome-text">Welcome, {{ user.name }}</span>
        <button (click)="logout()" class="logout-button">Logout</button>
      </ng-container>
  
      <ng-template #guestLinks>
        <a routerLink="/login" class="nav-link">Login</a>
        <a routerLink="/register" class="nav-link">Register</a>
      </ng-template>
    </div>
  </nav>
  